.header-container {
  background: #e4d61c;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(163, 0, 0);
    letter-spacing: 4px;
    margin: 20px;
    cursor: pointer;
    -webkit-text-stroke: 1px black;
  }
  .logout {
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
  }
}
