.login-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(224, 230, 142), rgb(228, 56, 56));
  position: relative;
  .logo {
    font-size: 70px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(163, 0, 0);
    letter-spacing: 8px;
    position: absolute;
    top: 50px;
    right: 50px;
    -webkit-text-stroke: 3px black;
  }
  .desc {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif, cursive;
    letter-spacing: 5px;
    position: absolute;
    top: 200px;
    right: 50px;
    text-align: right;
    width: 50%;
    color: black;
    -webkit-text-stroke: 1px black;
  }
  .film {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .login-form {
    width: 500px;
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 10%;
    right: 5%;
    box-shadow: 5px 5px 20px rgb(6, 10, 7);
  }
  .form-group {
    margin: 20px;
  }
  label {
    font-weight: bold;
  }
  button {
    margin-top: 20px;
    margin-left: 20px;
  }
  .error {
    position: absolute;
    right: 10%;
    color: red;
  }
  img {
    opacity: 0.3;
  }
}
