.home-container {
  display: flex;
  .all-movies {
    width: 75%;
    min-height: calc(100vh - 80px);
    border-right: 1px solid #e4d61c;
    padding: 20px 40px;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        text-transform: uppercase;
        font-weight: bold;
        border-left: 5px solid #e4d61c;
        padding-left: 10px;
      }
      .view-all {
        color: #e05b0e;
        cursor: pointer;
      }
    }
    .movies-thumbnail {
      display: flex;
      padding: 5px;
      justify-content: space-between;
      flex-wrap: wrap;
      .movie {
        .cover {
          img {
            border-radius: 5px;
          }
        }
        .detail {
          width: 180px;
          .name {
            font-weight: bold;
            height: 50px;
            margin-top: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .popular-movies {
    width: 25%;
    min-height: calc(100vh - 80px);
  }
}
